In [3]:
import pandas as pd
import numpy as np

In [4]:
household = pd.read_csv("/Users/MaximilianDroschl/HS23/DSF Final/tza_household.csv")
multiple = pd.read_csv("/Users/MaximilianDroschl/HS23/DSF Final/tza_multiple.csv", encoding="cp1252", low_memory=False)

# We only take the data for the head of every single household from the multiple dataset
# so that we have one row per household and can merge our dataframes later.
multiple.drop_duplicates(subset="SbjNum", keep="first", inplace=True)

# Dropping some unnecessary rows.
multiple = multiple[~multiple["A2_2"].str.contains("-|s", na=False)]

,SbjNum,I1,I2,I4,Zone,I8,I9,Ward,urb_rur,I7,...,D6,D7,D8,D9,D10,D11,INDMUL_WGT,A2,A3,stratum
0,28621798,73,3,1,2,10,28,176,2,2/6/2016,...,1,3.0,3.0,1.0,1,2,0.806711,NaN,NaN,4
2,28622785,77,1,1,2,10,28,184,2,2/6/2016,...,1,3.0,5.0,1.0,1,1,0.836590,10.000000,3.000000,4
3,28623196,67,6,1,2,10,53,29,2,2/6/2016,...,1,3.0,2.0,2.0,1,2,2.602987,NaN,NaN,4
5,28623383,69,2,1,2,10,53,113,2,2/6/2016,...,1,3.0,3.0,1.0,1,1,1.849303,2.024291,2.024291,4
6,28624031,73,4,2,2,10,28,176,2,2/6/2016,...,1,3.0,3.0,1.0,1,1,0.806711,13.000000,98.000000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5027,29633312,87,12,1,2,10,129,16,2,3/7/2016,...,1,3.0,3.0,1.0,1,1,2.408792,1.214575,1.214575,4
5028,29649585,78,2,1,2,10,28,17,2,3/9/2016,...,1,3.0,3.0,1.0,1,1,1.855047,0.607287,98.000000,4
5030,29649586,79,11,1,2,10,28,17,2,3/9/2016,...,1,3.0,3.0,1.0,1,1,0.711101,0.607287,98.000000,4
5031,29680313,88,15,1,2,10,129,197,2,3/10/2016,...,1,3.0,3.0,1.0,1,1,1.766134,1.214575,98.000000,4
5032,29828751,79,3,1,2,10,28,17,2,3/11/2016,...,1,3.0,3.0,1.0,1,1,0.711101,0.809717,0.809717,4